{% extends "forum/base1.html" %}
{% block content %}
    {% for article in articles %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <img class="rounded-circle article-img" src="{{ article.author.profile.image.url }}">
                    <a class="mr-2" href="{% url 'user-posts' article.author.username %}">{{ article.author }}</a>
                    <small class="text-muted"> {{ article.date_posted|date:"l - F d, Y @ P" }} Coordinated Universal Time (UTC) </small>
                    <p class="text-secondary">{{ article.author.profile.bio }}</p>
                </div>
                <h2><a class="article-title" href="{% url 'post-detail' article.id %}">{{ article.title }}</a></h2>
                <p class="article-content">{{ article.content|safe|truncatewords:"50"|linebreaks }}</p>
                <a href="{% url 'post-detail' article.id %}">Read more...</a>
            </div>
        </article>
    {% endfor %}
    {% if articles.has_previous %}
        <a class="btn btn_outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn_outline-info mb-4" href="?page={{ articles.previous_page_number }}">Previous</a>
    {% endif %}
        
    {% for num in articles.paginator.page_range %}
        {% if articles.number == num %}
            <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > articles.number|add:'-3' and num < articles.number|add:'3' %}
            <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    {% if articles.has_next %}
        <a class="btn btn_outline-info mb-4" href="?page={{ articles.next_page_number }}">Next</a>
        <a class="btn btn_outline-info mb-4" href="?page={{ articles.paginator.num_pages }}">Last</a>
    {% endif %}

{% endblock content %}
