{% extends "forum/base1.html" %}
{% block content %}
    {% for guideline in guidelines %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <img class="rounded-circle article-img" src="{{ guideline.author.profile.image.url }}">
                    <a class="mr-2" href="{% url 'user-posts' guideline.author.username %}">{{ guideline.author }}</a>
                    <small class="text-muted"> {{ guideline.date_posted|date:"l - F d, Y @ P" }} Coordinated Universal Time (UTC)</small>
                    <p class="text-secondary">{{ guideline.author.profile.bio }}</p>
                </div>
                <h2><a class="article-title" href="{% url 'post-detail' guideline.id %}">{{ guideline.title }}</a></h2>
                <p class="article-content">{{ guideline.content|safe|truncatewords:"50"|linebreaks }}</p>
                <a href="{% url 'post-detail' guideline.id %}">Read more...</a>
            </div>
        </article>
    {% endfor %}
    {% if guidelines.has_previous %}
        <a class="btn btn_outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn_outline-info mb-4" href="?page={{ guidelines.previous_page_number }}">Previous</a>
    {% endif %}
        
    {% for num in guidelines.paginator.page_range %}
        {% if guidelines.number == num %}
            <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > guidelines.number|add:'-3' and num < guidelines.number|add:'3' %}
            <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    {% if guidelines.has_next %}
        <a class="btn btn_outline-info mb-4" href="?page={{ guidelines.next_page_number }}">Next</a>
        <a class="btn btn_outline-info mb-4" href="?page={{ guidelines.paginator.num_pages }}">Last</a>
    {% endif %}

{% endblock content %}
