{% extends "forum/base3.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section ">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="mb-3">Create New Post</legend>
                <div class="border-top pt-2">
                    {{ form|crispy }}
                </div>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Post</button>
            </div>
        </form>
    </div>
{% endblock content %}
